.Main{
    background-color: #FBFFF2;
    display: flex;
    justify-content: center;
}
.CourseDescription{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 1240px;
    height: 100vh;

}
#Img{
    height: 450px;
    width: 600px;
    background-image: url("../../img/course.jpg");
    background-repeat: no-repeat;
    background-size: 600px 450px;
    border: 0;
    border-radius: 25px;

}
.Text{
    align-content: center;
    height: auto;
    margin-left: 40px;
    font-family: Noto Sans, serif;
    font-style: normal;
    font-weight: normal;
}

#Title{
    font-size: 50px;
}
#Description{
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
    color: #424242;
}
#Next{
    position: relative;
    height: 50px;
    left: 0;
    bottom: 0;

    background: #EBFF00;
    border-radius: 6px;
    width: 332px;
    line-height: 48px !important;
}

#Next:hover {
    color: #424242;
}
