.Main {
    background: #E5E5E5;
    display: flex;
    justify-content: center;

}

.CourseDescription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 1240px;
    height: calc(100vh - 100px);
    margin-top: 100px;
}

#Img {
    height: 450px;
    width: 600px;
    background-image: url("../../img/course.jpg");
    background-repeat: no-repeat;
    background-size: 600px 450px;
    border: 0;
    border-radius: 25px;

}
.Text{
    align-content: center;
    height: auto;
    margin-left: 40px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
}

#Title {
    font-size: 50px;
}

#Description {
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
    color: #424242;
}
#Next{
    background-color:#EBFF00;
    position: relative;
    height: 50px;
    width: 50%;
    left: 0;
    bottom: 0;

    background: #EBFF00;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 10px;
    margin-top: 2%;
}

#Next:hover {
    color: #424242;
}