.footer {
    width: 100%;
    height: 120px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: linear-gradient(90.4deg, rgba(189, 255, 0, 0.2) 0%, rgba(143, 242, 0, 0.2) 56.25%, rgba(51, 215, 0, 0.2) 99.99%, rgba(29, 208, 0, 0.2) 100%);
}

.f1 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    /* or 172% */
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}

.f2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    /* or 108% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}

.f3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    /* or 108% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}

.row {
    display: flex !important;
    justify-content: space-between !important;
    height: fit-content !important;
}
