.footer {
    position: relative;
    width: 1440px;
    height: 120px;
    background: linear-gradient(90.4deg, rgba(189, 255, 0, 0.2) 0%, rgba(143, 242, 0, 0.2) 56.25%, rgba(51, 215, 0, 0.2) 99.99%, rgba(29, 208, 0, 0.2) 100%);
}

.f1 {
    position: absolute;
    width: 500px;
    height: 69px;
    left: 40px;
    top: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    /* or 172% */
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}

.f2 {
    position: absolute;
    width: 291px;
    height: 69px;
    left: 786px;
    top: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    /* or 108% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}

.f3 {
    position: absolute;
    width: 191px;
    height: 85px;
    left: 1149px;
    top: 17px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    /* or 108% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #18AB00;
}